@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish',sans-serif;
    background-color: rgb(251, 230, 223);

    h1{
        text-align: center;
        margin: 50px 0 30px;
    }
}

.faq-container{
    max-width: 700px;
    margin: 0 auto;

    .faq{
        border: 1px solid #9fa48a;
        background: transparent;
        border-radius: 15px;
        padding: 20px 30px;
        margin: 20px 20px;
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease-in;
        cursor: pointer;

        i{
            position: absolute;
            top: 2.5rem;
            right: 3rem;
        }

        .faq-title{
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }

        .faq-text{
            display: none;
        }
    }

    .active{
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0,0.1), 0 3px 6px rgba(0, 0, 0,0.1);
        min-height: 150px;
        .faq-text{
            display: block;
        }
    }

    
}
